* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
  box-sizing: inherit;
}
body {
  background-image: url(./images/background-img.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.homeContainer {
  display: flex;
  /* border: solid; */
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.pageContainer {
  background-color: white;
  height: 100%;
  width: 70%;
  display: flex;
  border: 1px solid rgb(166, 166, 166);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 0px 53px -1px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 0px 53px -1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 0px 53px -1px rgba(0, 0, 0, 0.64);
}
/* form */
.formulaireContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 50px;
  position: relative;
}
/* icon in top left */
.iconContainer {
  background-color: white;
  z-index: 2;
  position: absolute;
  top: -38px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid; */
  width: 60px;
  height: 60px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
}
.iconContainer > i {
  font-size: 30px;
}
.formContainer {
  display: flex;
  width: 74%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
/* form title */
.titleContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
}
.titleContainer > h1 {
  font-size: 25px;
}
/* form inputs */
.inputContainer {
  display: flex;
  width: 95%;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  position: relative;
}
.inputContainer > input {
  height: 30px;
  border: 1px solid #a4a4a4;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
}
.inputContainer > input:focus {
  outline: none;
}
.inputContainer > .info {
  margin-left: 3px;
  font-size: 10px;
}
.inputContainer > #message {
  margin-left: 3px;
  font-size: 10px;
}
/*password and checkbox*/
.showHidePassword {
  position: absolute;
  right: 12px;
  top: 6px;
  cursor: pointer;
}
.CheckBoxAndButtonContainer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-top: 10px;
}
.CheckBoxContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.checkmark {
  display: flex;
  align-items: center;
}
/*signup button*/
.ButtonSinscrire {
  box-shadow: inset 0px -14px 24px -3px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 21px;
  padding: 15px 66px;
  text-decoration: none;
  border: 0;
}
.ButtonSinscrire:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.ButtonSinscrire:active {
  position: relative;
  top: 1px;
}
/* separator */
.orContainer {
  display: flex;
  width: 60%;
  background-color: rgb(187, 187, 187);
  height: 2px;
  margin: 40px 0px 0px 0px;
  justify-content: center;
  position: relative;
}
.orContainer > span {
  height: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(115, 115, 115);
  font-size: 14px;
  padding: 0px 15px;
  position: absolute;
  top: -0.5em;
}
/*social media button*/
.SocialMediaRegistrationContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.SocialMediaRegistrationContainer > button {
  margin: 10px 0px;
}
/* facebook button */
.fbbutton {
  background-color: #43609c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 14px 76px;
  text-decoration: none;
  border: 0;
}
.fbbutton:hover {
  background-color: #43609c;
}
.fbbutton:active {
  position: relative;
  top: 1px;
}
/* google button */
.glbutton {
  background-color: #4285f4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 14px 76px;
  text-decoration: none;
  border: 0;
}
.glbutton:hover {
  background-color: #4285f4;
}
.glbutton:active {
  position: relative;
  top: 1px;
}
/* right image */
.imageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}
.image > img {
  width: 99%;
  height: auto;
}
/*tablets size*/
@media (max-width: 1340px) {
  .pageContainer {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .formulaireContainer {
    border-top: 1px solid #cecdcd;
  }
  .titleContainer > h1 {
    font-size: 18px;
  }
  .inputContainer > .info {
    font-size: 10px;
  }
  .inputContainer > #message {
    font-size: 10px;
  }
  .ButtonSinscrire {
    padding: 20px 20px;
  }
  .image > img {
    width: 55%;
    height: auto;
  }
}
/*mobile size*/
@media (max-width: 570px) {
  .ButtonSinscrire {
    font-size: 13px;
    padding: 10px 5px;
  }
  .glbutton {
    font-size: 13px;
    padding: 10px 5px;
  }

  .fbbutton {
    font-size: 13px;
    padding: 10px 5px;
  }
  .checkmark {
    font-size: 13px;
  }
  .pageContainer {
    width: 90%;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
}
.footer-image {
  margin-top: 80px;
}
.footer-image > img {
  height: 80px;
}

/*tools*/
.border-green {
  border: 2px solid #3dc21b !important;
}
.border-red {
  border: 2px solid rgb(225, 75, 75) !important;
}
